@charset="utf-8";

td{
	font-size:14px;
	font-weight:400;
	text-align:left;	
}
th{
	text-align:left;
	font-size:16px;
	font-weight:100;
	line-height:16px;
	background-color:#ddd;
	bordercolor:white;
}
.two{
	text-align:center;
	margin-top:5px;
}

.que{
	display:inline-block;
	margin:0 7px 0 0;
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px;
}
.qu{
	display:inline-block;
	margin:0 7px 0 0;
	background-color:#f5f5f5;
	border:1px solid #dedede;
	border-top:1px solid #eee;
	border-left:1px solid #eee;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px;
}
.txt{
	background-color:white;
	width:300px;
	height:25px;
}
#header ul{
		list-style:none;
		padding:0;
		margin:0;
}
#header li{
		
		border:solid;
		border-width:2px 2px 2px 2px;
		margin:0 0.5em 0 0;
}
#header li a{
		padding:0 1em;
}