<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		 <mapping class="cn.edu.mnnu.ams.entity.AlumniFrom"/>
		 <mapping class="cn.edu.mnnu.ams.entity.AlumniInfos"/>
 		 <mapping class="cn.edu.mnnu.ams.entity.AlumniWork"/>
		 <mapping class="cn.edu.mnnu.ams.entity.City"/>
		 <mapping class="cn.edu.mnnu.ams.entity.Dept"/>
		 <mapping class="cn.edu.mnnu.ams.entity.District"/>
		 <mapping class="cn.edu.mnnu.ams.entity.ExamineVerify"/>
		 <mapping class="cn.edu.mnnu.ams.entity.Province"/>
		 <mapping class="cn.edu.mnnu.ams.entity.User"/>
		 <mapping class="cn.edu.mnnu.ams.entity.Role"/>
	</session-factory>
</hibernate-configuration>
